<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466130865078-m7c1pv3kib8ajh6lomkht5v0rearb8r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466130865078-m7c1pv3kib8ajh6lomkht5v0rearb8r9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466130865078-ugtn4cf4sju8dgv6c4goh96vjbjtni62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6eV4LYqyCnj9R1-fAI0fIAOQYOu6yeIM</string>
	<key>GCM_SENDER_ID</key>
	<string>466130865078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.theplantapp</string>
	<key>PROJECT_ID</key>
	<string>the-plant-app-894f6</string>
	<key>STORAGE_BUCKET</key>
	<string>the-plant-app-894f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466130865078:ios:423d7a4ba53f01acedcf17</string>
</dict>
</plist>